*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/* header */
header{
    position: relative;
    background-color: #8400ac;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    border-bottom: 1px solid rgba(230, 105, 255, 0.5);
    z-index: 20;
}
.brand{
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon img{
    max-width: 60px;
}

.logo img{
    max-width: 140px;
}
.icon img{
    max-width: 140px;
    transition: transform 0.3s ease;
    animation: floatLogo 4s ease-in-out infinite;
}

.icon img:hover{
    transform: scale(1.05);
}

/* Animación flotante */
@keyframes floatLogo{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(0);
    }
}
.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.logo img{
    max-width: 150px;
}
.icon img{
    max-width: 100px;
    max-height: 100px;
}
.menu{
    color: #ffffff;
    font-size: 1.8em;
    display: none;
}
.nav{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}
.nav li:hover a {
    color: rgb(255, 199, 127);
}

.nav-collapse{
    display: none;
}

.busqueda{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 0 12px;
    overflow: hidden;
    transition: width 0.4s ease;
    cursor: pointer;
}

/* Input */
.busqueda input{
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
    font-size: 14px;
    transition: width 0.4s ease, opacity 0.3s ease;
}

/* Icono */
.busqueda i{
    color: #8400ac;
    font-size: 16px;
    flex-shrink: 0;
}

/* Hover: animación */
.busqueda:hover{
    width: 260px;
}

.busqueda:hover input{
    width: 200px;
    opacity: 1;
    margin-right: 10px;
}
.busqueda:focus-within{
    width: 260px;
}

.busqueda:focus-within input{
    width: 200px;
    opacity: 1;
}
/* fin del header */

.hero-image{
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    /* <!-- TRAILER SECTION --> */
.video-section{
    display: flex;
    gap: 40px;
    padding: 80px 100px;
    align-items: center;
    color: #000000;
}

.video-wrapper{
    flex: 1;
    aspect-ratio: 16 / 9;
}

.video-wrapper iframe{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.video-text{
    flex: 1;
}

.video-text h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.video-text p{
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000;
}
/* Trailer */
.hero-title{
    width: 100%;
    padding: 40px 20px;
    color: #000000;
    text-align: center;
}

.hero-title h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-title p{
    font-size: 1.2rem;
    font-weight: 300;
    color: #000000;
}
/* galería */

.slider {
    position: relative;
    width: 600px;
    height: 350px;
    margin: auto;
    overflow: hidden;
}

.slider input {
    display: none;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.4s ease;
    background-color: black;
}


#s1:checked ~ .slides .s1,
#s2:checked ~ .slides .s2,
#s3:checked ~ .slides .s3 {
    opacity: 1;
}


.controls .control {
    display: none;
}

.controls label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.prev { left: 10px; }
.next { right: 10px; }


#s1:checked ~ .controls .s1,
#s2:checked ~ .controls .s2,
#s3:checked ~ .controls .s3 {
    display: block;
}

/* Reloj */
.reloj{
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(116, 28, 128, 0.8), rgba(0,0,0,0.8)),url("img/PEAK_KeyArt_1080p.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    margin: 20px auto 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    border-radius: 16px;
}
.reloj h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}
.botonesreloj{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonesreloj img{
    width: 50px;
    margin: 0 20 px;
    cursor: pointer;
}
.botonesreloj img:nth-child(2){
    width: 80px;
}
/* mediaquery */
@media (max-width: 768px){
    .nav,
    .busqueda{
        display: none;
    }

    .menu{
        display: block;
    }
    .video-section{
    flex-direction: column;
    padding: 40px 20px;
    }

    .hero-image{
        height: 50vh;
    }
}